<h1><%= @band.name %></h1>

<h2>Albums</h2>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.title, album_url(album) %></li>
  <% end %>
</ul>

<footer>
  <ul>
    <% if current_user.admin %>
      <li><%= link_to "Add Album", new_band_album_url(@band) %></li>
      <li><%= link_to "Edit", edit_band_url(@band) %></li>
      <li><%= button_to "Remove", band_url(@band), method: :delete %></li>
    <% end %>
    <li><%= link_to "Band Index", bands_url %></li>
  </ul>
</footer>
